# Dart kodları detectable olsun
lib/** linguist-detectable=true

# Platform klasörlerini istatistiklerden sayma
android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
windows/** linguist-vendored
macos/** linguist-vendored
web/** linguist-vendored

# Build dosyalarını sayma
build/** linguist-vendored
